extends layout

block content
  h1= title
  p Welcome to #{title}
  p Aprendiendo en Devf
  
  div(ng-controller="mycontroller as mc")
    {{mc}}
    p Search
    input(ng-model="search.name",placeholder="name")
    p location
    input(ng-model="search.app",placeholder="Last") 
    select(ng-model="search.location")
      option CDMX
      option San Francisco
    div(class="container")
      card-user(data="user" ng-repeat="user in mc.users | filter : search")
    //- ul
      //- li(ng-repeat="user in mc.users | filter : search")
        //- {{ user.name }} {{ user.app}}
        //- button(ng-click="mc.show(user)") imprimir
