<div>
  <form ng-submit="spotify.doSearch()">
    <input type="text" ng-model="spotify.song_name">
    <button name="button">Buscar</button>
  </form>
  <div>
    <a ng-click="spotify.play(song)" ng-repeat="song in spotify.playlist" class="song">
      <span class="title">{{ song.name }}</span>
      <span>{{ song.duration_ms }}</span>
      <span>{{ song.artist[0].name}}</span>
    </a>
  </div>
  <div>
    <div class="header">
      <img ng-src="{{spotify.song.album.images[1].url}}" alt="">
      <span title="">{{spotify.song.name}}</span>
      <span>Duration: {{spotify.song.duration_ms}}</span>
      <span>Popularity: {{spotify.song.popularity}}</span>
      <span>Album: {{spotify.song.album.name}}</span>
      <span>{{spotify.song.artist[0].name}}</span>
      <a target="_blank" ng-href="{{ spotify.song.external_urls.spotify}}">Abrir en Spotify</a>
    </div>
  </div>
</div>
